<font size="2" face="Calibri">
    <div class="container-fluid">
        <h3 style="text-align:center">Courier Approval </h3>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav" id="visitorSubmenu">
                    <li onclick="GetCourierByFrontDesk(1)"><a href="#">Approved Courier </a></li>
                    @*<li onclick="GetVisitorByFrontDesk(2)"><a href="#">Arrived Courier </a></li>*@
                </ul>
            </div>
            <div class="col-md-4" style=" margin-top:50px; margin-left:1000px; margin-top:-50px;">
                <button id="save_button" class="btn btn-info">DISPATCH & CONSOLIDATE</button>
            </div>
            <div class="col-md-10" id="getallvisitor" style="width: 100%;overflow:scroll;height: 100%">

            </div>
        </div>
    </div>

    <div class="modal fade" id="showmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Courier Information Request</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 modal_body_map">
                            <div class="location-map" id="location-map">
                                <div style="text-align:left" id="showcanvas"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 modal_body_end">

                        </div>
                    </div>
                </div>
                @*<div class="modal-footer" style="text-align:center">
                        <button style="text-align:right" class="btn btn-success" id="printCapex">Print This Capex</button>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center;font-weight:bold ;">Courier Cost Consolidate Preview</h4>
                </div>
                <div id="modalbody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="confirmCourierInfo" @*onclick="PrintModal()"*@>Confirm</button>
                    <button type="button" id="remove_button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</font>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {

        //GetSubMenuBYUserPermission();
        GetCourierByFrontDesk(1);
    });

    load();

    function load() {
        $('input[type="checkbox"]').click(function () {
            if ($('#enableCheck').is(":checked")) {
                alert("Checkbox is checked.");
            }
            else if ($('#enableCheck').is(":not(:checked)")) {
                alert("Checkbox is unchecked.");
            }
        });
        //setTimeout("window.open(self.location, '_self');", 300000);
    }


    function UpdateFrontDesk(primarykey,isApproved) {
         var urlpath = '@Url.Action("UpdateOrReject", "Visitor")';
            $.ajax({
                data: { PrimaryKey: primarykey, Status: isApproved },
                url: urlpath,
                type: "Post",
                async: true,
                success: function(data) {
                            if (data.isSuccess) {
                               swal({
                                  title: 'Successfully Done',
                                  type: 'success',
                                   closeOnCancel: true
                               }, function () {
                                       GetVisitorByFrontDesk(2);
                               });
                            }
                        }
                });
    }

    function GetCourierByFrontDesk(variable) {
        var urlpath = '@Url.Action("GetFrontDeskCourier", "Courier")';
            $.ajax({
                url: urlpath,
                type: "Post",
                data: {Status:variable},
                async: true,
                success: function(data) {
                       if (data) {
                            $('#getallvisitor').empty();
                            $('#getallvisitor').html(data);
                           $("#fontDeskCourierTable").DataTable();

                        }
                    }
                });
    }



    function calculateTotal(rowNumber) {

        debugger
       const row = document.getElementsByClassName('rowclass');
        const checkboxes = document.getElementsByClassName('approval');
       // var value = checkboxes[rowNumber - 1].$(this).val();
        //alert(value);
        // check the checkbox and color the row
        if (checkboxes.checked = true) {
            row[rowNumber - 1].style = "background-color: skyblue;";
            if (checkboxes.checked = false) {
                row[rowNumber - 1].style = "background-color: white;";
            }
           //style = "background-color: skyblue;";
        }
         else if (checkboxes.checked = false) {
            row[rowNumber - 1].style = "background-color: white;";
        }
        //else if (checkboxes[rowNumber - 1].checked = false) {
        //    row[rowNumber - 1].style = "background-color: white;";
        //}

        //var Colors = ["red", "yellow", "purple", "skyblue", "gray", "green"];

        //if (row.value == row.value) {
        //    for (var i = 0; i < $("tr").length; i++) {
        //        $("tr:eq(" + i + ")").children().css("background-color", Colors[i]);
        //    }
        //};

        //var $checky = '';
        //if ($checky = $("input[type=checkbox].approval")) {
        //  //  var $checky = $("input[type=checkbox].checky");

        //    var total = 0;

        //    $checky.filter(":checked").each(function () {
        //        parseFloat($(this).val()) == parseFloat($(this).val())
        //       // alert(parseFloat$(this).val());
        //      total = parseFloat(total) + parseFloat($(this).val());
        //        $("#total").val(total);
        //    });

        //    //$("#leadTimeFrom").parent("td").siblings("td:last").text(total);

        //}
        //else if ($checky = $("input[type=checkbox].approval")) {
        //    var total = 0;

        //    $checky.filter(":unchecked").each(function () {
        //        total = parseFloat(total) + parseFloat($(this).val());

        //    });
        //}
        //else {
        //    $("#leadTimeFrom").val($(this).val());
        //}

    }
    $("#save_button").click(function () {

        debugger;
        modalView();

    });
       function modalView() {
           var jsonData = SaveCourieFontDeskrRequest();
           var urlpath = '@Url.Action("ShowPertialviewModalType", "Courier")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                url: urlpath,
                type: "POST",
                async: true,
                success: function (data) {
                    $("#modalbody").html("");
                    $("#modalbody").append(data);
                    $("#myModal").modal("show");
                },
                error: function () {
                    alert("Error");
                }
            });
    }

    $("#confirmCourierInfo").click(function () {
        if ($("#font_dispatch_date").val() == '') {
            toastr.error("Please Select Dispatch Date ", " Dispatch Date ",
                {
                    "positionClass": "toast-top-right",
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "closeButton": true
                });

            return false;
        }
        if ($("#airway_bill_no").val() == '') {
            toastr.error("Please Enter Airway Bill No  ", " Airway Bill No ",
                {
                    "positionClass": "toast-top-right",
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "closeButton": true
                });

            return false;
        }
        if ($("#font_referance_no").val() == '') {
            toastr.error("Please Enter Referance No ", " Referance No ",
                {
                    "positionClass": "toast-top-right",
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "closeButton": true
                });

            return false;
        }
        if ($("#font_remarks").val() == '') {
            toastr.error("Please Enter Remarks ", " Remarks ",
                {
                    "positionClass": "toast-top-right",
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "closeButton": true
                });

            return false;
        }
        else {
             var jsonData = SaveCourieFontDeskrRequest();
        var urlpath = '@Url.Action("SaveCourierDispatch", "Courier")';
        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonData),
            url: urlpath,
            type: "POST",
            async: true,
            success: function (data) {
                swal({
                    title: 'Courier Consolidate data Submit Successfully',
                    type: 'success',
                    closeOnCancel: true
                }, function () {
                    $("#myModal").modal("hide");
                    $("#iousubmenu").find('li').removeClass();
                    $("#iousubmenu").find('li:nth-child(2)').addClass("active");
                        GetCourierByFrontDesk(1);
                });
            },
            error: function () {
                alert("Error");
            }
        });
        }

    });



    function SaveCourieFontDeskrRequest() {
        debugger;
        var jsonData = {};
        var $checky = '';
        if ($checky = $("input[type=checkbox].approval")) {
            //  var $checky = $("input[type=checkbox].checky");
            var CountryName = "";
            var PostCode = "";
            var ServiceProvider = "";
            var total = 0;
            $checky.filter(":checked").each(function () {
                parseFloat($(this).val()) == parseFloat($(this).val())
                // alert(parseFloat$(this).val());
                total = parseFloat(total) + parseFloat($(this).val());
                //$("#total").val(total);
                CountryName = $(this).attr('data-CountryName');
                PostCode = $(this).attr('data-PostCode');
                ServiceProvider = $(this).attr('data-ServiceProvider');
            });
        }
        jsonData["total"] = total;
        jsonData["CountryName"] = CountryName;
        jsonData["PostCode"] = PostCode;
        jsonData["ServiceProvider"] = ServiceProvider;
        jsonData["FontDispatchDate"] = $("#font_dispatch_date").val();
        jsonData["ConsolidateValue"] = $("#consolidate_value").val();
        jsonData["FontAirwayBillno"] = $("#font_airway_bill_no").val();
        jsonData["ReferenceNo"] = $("#referance_no").val();
        jsonData["FontRemarks"] = $("#font_remarks").val();
        var FontapproverObj = []
        var count = 1;
        $("#fontDeskCourierTable tr td input[type='checkbox']:checked").each(function () {

            var jsonData = {};
            var Fontapprover = {};

            Fontapprover["CourierRequestId"] = $(this).attr('data-CourierRequestId');
            Fontapprover["UserName"] = $(this).attr('data-UserName');
            Fontapprover["DeartmentName"] = $(this).attr('data-DeartmentName');
            Fontapprover["PostCode"] = $(this).attr('data-PostCode');
            Fontapprover["Cost"] = $(this).attr('data-Cost');
            Fontapprover["Receiver"] = $(this).attr('data-Receiver');
            Fontapprover["CountryName"] = $(this).attr('data-CountryName');
            Fontapprover["PostCode"] = $(this).attr('data-PostCode');
            Fontapprover["Address"] = $(this).attr('data-Address');
            Fontapprover["DispatchDate"] = $(this).attr('data-DispatchDate');
            Fontapprover["Deliverydate"] = $(this).attr('data-Deliverydate');
            Fontapprover["ProductDescription"] = $(this).attr('data-ProductDescription');
            Fontapprover["Weight"] = $(this).attr('data-Weight');
            Fontapprover["Volume"] = $(this).attr('data-Volume');
            Fontapprover["AirwayBillno"] = $(this).attr('data-AirwayBillno');
            Fontapprover["ServiceProvider"] = $(this).attr('data-ServiceProvider');
            Fontapprover["ProposedDate"] = $(this).attr('data-ProposedDate');
            Fontapprover["Remarks"] = $(this).attr('data-Remarks');

            FontapproverObj.push(Fontapprover);
            count++;

        })
       jsonData["CourierFontDeskModelList"] = FontapproverObj;
        return jsonData;

        }


</script>
