
@{
    ViewBag.Title = "DispatchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal-lg {
        max-width: 80% !important;
    }

    .form-control, .btn {
        border-radius: 0px;
    }

    #ioumenu {
        margin: 0px;
        padding: 0px;
    }

    #iousubmenu li a {
        color: white;
    }
    /*#exceptionSubmrnu li:active{
        color:white;
        background-color:#0a0a22;

    }*/
    #iouNavigation {
        background-color: #37474F;
    }

    #expmenu {
        margin: 0px;
        padding: 0px;
    }

    #exceptionSubmrnu li a {
        color: white;
    }
    /*#exceptionSubmrnu li:active{
        color:white;
        background-color:#0a0a22;

    }*/
    #exceptionNavigaton {
        background-color: #37474F;
    }
</style>
<div class="container-fluid">
    <h3 style="text-align: center;">
        <b>Courier Management System</b>
    </h3>
    <hr style="margin: 0px" />
    <div class="row">
        <div id="iouNavigation" class="navbar navbar-default navbar-static-top">
            <div id="ioumenu">
                <div>
                    <ul id="iousubmenu" class="nav navbar-nav">
                        <li><a href="#" onclick="GetWidgetPartial('InboundFrontDeskCourierView')">Pending Courier</a></li>
                        <li><a href="#" onclick="GetAllDispatchList(2)"> Received So Far</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="ioucreateDashboard" style="width:100%">

        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align:center">Dispatch Details List</h3>
                </div>
                <div id="modalbody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="PrintModal()">Print</button>
                    <button type="button" id="remove_button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">



      $("#iousubmenu").find('li:nth-child(1)').addClass("active");
    GetWidgetPartial('InboundFrontDeskCourierView');
    $('#iousubmenu > li > a').click(function() {
        $('li').removeClass();
        $(this).parent().addClass('active');

    });

    function GetWidgetPartial(variable) {
    var urlpath = '@Url.Action("GetCourierDispatchPartial", "Courier")';
        $.ajax({
            url: urlpath,
            type: "Post",
            data: {viewName:variable},
            async: true,
            success: function(data) {
                    if (data) {
                        $('#ioucreateDashboard').empty();
                        $('#ioucreateDashboard').append(data);
                    }
                }
            });
    }
    function GetAllDispatchList(status) {
        var urlpath = '@Url.Action("GetAllCourierReceived", "Courier")';
        $.ajax({
            url: urlpath,
            type: "Post",
            data: { Status: status, ViewName: '_myCourierReceived'},
            async: true,
            success: function (data) {

                if (data) {
                 /*   alert(data);*/
                     $('#ioucreateDashboard').empty();
                    $('#ioucreateDashboard').append(data);
                    $('#VisitorRequestTable').DataTable();
                }
            }
        });
    }

    function CourierDispatchDetails(masterID, viewName, status) {
        var urlpath = '@Url.Action("CourierDispatchDetails", "Courier")';
        $.ajax({
            data: { MasterID: masterID, ViewName: viewName, Status: status },
            url: urlpath,
            type: "POST",
            async: true,
            success: function (data) {
                $("#modalbody").html("");
                $("#modalbody").append(data);
                $("#myModal").modal("show");
                $('#CourierDispatchTable').DataTable();
            },
            error: function () {
                alert("Error");
            }
        });
    }
   
 
  
</script>


