
<nav class="navbar navbar-inverse">
    <div>
        <ul class="nav navbar-nav">
            <li onclick="getAllVisitorApproval(0)"><a href="#">Pending Approver</a></li>
            <li onclick="getAllVisitorApproval(0)"><a href="#">Pending Approver</a></li>
            <li onclick="getAllVisitorApproval(1)"><a href="#">Already Approved</a></li>
            <li onclick="getAllVisitorApproval(2)"><a href="#">Already Rejected</a></li>
        </ul>
    </div>
</nav>
<div id="getallvisitor">

</div>

<script type="text/javascript">
       
</script>