<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <label for="business_unit">Business Unit</label>
            <select id="business_unit">
            </select>
        </div>
        <div class="col-md-3">
            <label for="locationCheck">Location</label>
            <select id="locationCheck">
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">
    LoadBusinessUnit();
    LoadLocation();
</script>