<style>
    #total_div {
        margin-left: 20px;
    }

    .lable_table {
        width: 20%;
        font-weight: bold;
    }
</style>
<div id="total_div" class="container-fluid">
    <div class="row">
        <table style="text-align:left" class="table table-responsive table-bordered">
            <tr>
                <td class="lable_table">Select Catagory : </td>
                <td>
                    <select id="select_user" name="select_user" class="form-control">
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <button id="saveInformation" class="btn btn-primary">Register</button>
</div>