<div>
    <input type="text" id="userName" class="form-control" placeholder="Enter Your Name" />
    <input type="text" id="userEmail" class="form-control" placeholder="Enter Your email" />
    <input type="text" id="userPhone" class="form-control" placeholder="Enter Your Phone Number" />
    <input type="text" id="userPassword" class="form-control" placeholder="Enter Your password" />
    <input type="text" id="userType" class="form-control"  placeholder="Enter Your user type" />
    <input type="text" id="CreateBy" class="form-control" placeholder="Enter Your create by" />
    <input type="text" id="designation" class="form-control" placeholder="Enter Designation" />
    <input type="text" id="businessUnitID" class="form-control" placeholder="Enter Business Unit Id" />
    <input type="text" id="sqNumber" class="form-control" placeholder="Enter Your SQ ID NUMBER" />

    <button id="saveInformation">Register</button>
</div>
