
@{
    ViewBag.Title = "Bill Report Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet" />
<style type="text/css">
    .form-control, .btn {
        border-radius: 0px;
    }

    #inputTable tr td {
        padding: 2px;
    }
</style>

<div class="container-fluid">
    <h3 style="text-align: center;">
        <b>Bill Report Dashboard</b>
    </h3>
    <hr style="margin:0px" />
    <div class="row">
        <div class="col-md-3">
            <div id="inputTable" style="margin:0 auto; width:50%">
                <div class="row">
                    <label for="supplier">Supplier</label>

                    <select id="supplier" class="form-control supplier select2">
                    </select>

                    <label for="business_unit">Cluster</label>
                    <select id="business_unit" class="form-control cluster select2">
                        
                    </select>
                    @*<div class="col-md-6">
            <label for="fromDate">From Date</label>
            <input type="date" id="fromDate" value="" onchange="ChangeColor('#fromDate')" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="toDate">To Date</label>
            <input type="date" id="toDate" value="" onchange="ChangeColor('#toDate')" class="form-control" />
        </div>*@
                </div>
            </div>
            <div style="text-align:center">
                <br />
                <input type="button" class="btn  btn-success" value="Get Report" onclick="GetAllVisitorReport()" />
            </div>
        </div>
        <div class="col-md-9">
            @*<input type="button" value="Import as Excel" onclick="saveAsExcel('visitorTable', 'lollipop.xls')" />*@
            <div id="exceptionReportDashboard" style="overflow:scroll; width:100%">

            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center">Visitor Request Preview</h4>
                </div>
                <div id="modalbody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="PrintModal()">Print</button>
                    <button type="button" id="remove_button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Assets/bower_components/select2/dist/js/select2.min.js"></script>

<script>


    $(function () {

        //$('.select2').select2();

        supplierList();
        LoadBusinessUnit();
    })


    const supplierList = () => {
        $.ajax({
            url: '/BillApproval/SupplierList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false, //blocks window close
            success: function (response) {
                $('#supplier').empty();
                $('#supplier').append("<option value='all'>-- ALL --</option>");

                if (response.length > 0) {

                    for (let i = 0; response.length > i; i++) {

                        $("#supplier").append($("<option></option>").val(response[i].SupplierID)
                            .html(response[i].Supplier));
                    }
                    //$('select#supplier').append(result);
                }
            }
        });
    }

    function LoadBusinessUnit() {
        $('#business_unit').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadBusinessUnit", "Admin")';
        //$('#loader').show();
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: false,
            beforeSend: function () {
                $('.overlay').show();
            },
            success: function (data) {
                $('#business_unit').empty();
                //$("#visitorCompanySQ").empty();
                $('#business_unit').append("<option value='all'>-- ALL --</option>");
                $('#business_unit').append("<option value='0'>Central</option>");
                //$('#visitorCompanySQ').append("<option value=''>--Select Business Unit--</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#business_unit").append($("<option></option>").val(data[i].BusinessUnitId)
                        .html(data[i].BusinessUnitName));
                    //$("#visitorCompanySQ").append($("<option></option>").val(data[i].BusinessUnitId)
                    //    .html(data[i].BusinessUnitName));
                }
            },
            complete: function () {
                $('.overlay').hide();
            }
        });
    }



    $(function () {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = mm + '/' + dd + '/' + yyyy;
        $("#fromDate").val(today);
        $("#toDate").val(today);
    })

    function ChangeColor(id) {
        $(id).css({ "border-color": "#d3d3d3" });
    }
    function GetAllVisitorReport() {
       
        var businessunit = $("#business_unit").val();
        var supplier = $("#supplier").val();


        var urlpath = '@Url.Action("BillDashboardReportList", "BillApproval")';
        $.ajax({
            url: urlpath,
            type: "Post",
            data: { SupplierId: supplier, UnitId: businessunit },
            async: true,
            success: function (data) {
                console.log(data)
                if (data) {
                    $('#exceptionReportDashboard').empty();
                    $('#exceptionReportDashboard').append(data);
                    $('#billTable').DataTable({
                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        dom: 'Bfrtip',
                        buttons: [
                            'excelHtml5'
                        ]
                    });
                }
            }
        });
        
    }





    function exportToExcel(tableID, filename = '') {
        var downloadurl;
        var dataFileType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xlsx' : 'export_excel_data.xlsx';

        // Create download link element
        downloadurl = document.createElement("a");

        document.body.appendChild(downloadurl);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTMLData], {
                type: dataFileType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;

            // Setting the file name
            downloadurl.download = filename;

            //triggering the function
            downloadurl.click();
        }
    }
</script>

