
@{
    ViewBag.Title = "DashboardCapex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div id="chart_container">
    <h3 style="text-align:center;"><b>Summery</b></h3>
    <hr />
    <div class="row container">
        <div class="col-md-3">
            <label for="year_picker">Select Year</label>
            <select id="year_picker" class="form-control">
            </select>
            <label for="catagory_caperx">Capex Catagory</label>
            <select id="catagory_caperx" name="catagory_caperx" class="form-control"> </select>
            <input style="margin-top:5px;" type="button" id="submit_budget" value="Submit" class="btn btn-success" />
            <p>Total Yearly Cost : <strong id="costtotal"></strong></p>
        </div>
        <div class="col-md-6"><div id="bar_chart" style="height:400px"></div></div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {
        var startyear = 2019;
        var year = new Date().getFullYear();
        $("#year_picker").append("<option value='" +year+ "'>" + year + "</option>");
        for (var i = 0; i < 20; i++) {
            startyear += 1;
            $("#year_picker").append("<option value='" + startyear + "'>" + startyear + "</option>");
        }
        LoadCapexCatagory();  

        successFunc(year, 0);
    };

    $('#submit_budget').click(function () {
        var year = $('#year_picker').children("option:selected").html();
        var catagory = $('#catagory_caperx').children("option:selected").val();
        successFunc(year, catagory)
    });
    function successFunc(year,catagory) {
            
            var urlpath = '@Url.Action("LoadAllInformation", "Dashboard")';
            $.ajax({
                type: "GET",
                url: urlpath,
                data: { year: year, catagory: catagory },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var data = {};
                    var approvestatus = [];
                    var total = 0;
                    response.forEach(function (e) {
                        approvestatus.push(e.Month);
                        data[e.Month] = e.Cost;
                        total += e.Cost;
                    })
                    $("#costtotal").html(parseFloat(total).toLocaleString('en'));
                    var chart = c3.generate({
                        bindto: '#bar_chart',
                        data: {
                            json: [data],
                            keys: {
                                value: approvestatus,
                            },
                            type: 'bar'
                        },
                        legend: {
                           position: 'right'
                        },axis: {
                            x: {
                                label: 'Month'
                            },
                            y: {
                                label: 'Cost'
                            }
                        },
                        color: {
                            pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a', '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
                        },
                    });
                }
            });
    }

    function LoadCapexCatagory() {
        $('#catagory_caperx').css({ "border-color": "#d3d3d3" });
        var urlpath = '@Url.Action("LoadCapexCatagory", "CapexApproval")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Post",
            data: {},
            async: true,
            success: function (data) {
                $('#catagory_caperx').empty();
                $('#catagory_caperx').append("<option value='0'>--Select Capex Catagory--</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#catagory_caperx").append($("<option></option>").val(data[i].CapexCatagoryID)
                        .html(data[i].CapexCatagoryName));
                }
            }
        });
    }
</script>
